@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

.dancing {
  font-family: "Dancing Script", cursive;
}

.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.skill-bars {
  /* padding: 25px 30px; */
  width: 100%;
  /* background: #fff; */
  /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
}

.skill-bars .bar .info span {
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: gray;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.jquery span {
  width: 85%;
}
.bar .progress-line.python span {
  width: 50%;
}
.bar .progress-line.mysql span {
  width: 75%;
}

.shadow-drop-br {
  -webkit-animation: shadow-drop-br 2s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: shadow-drop-br 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.title-animation {
  -webkit-animation: showTitle 2s;
  animation: showTitle 2s;
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-in-blurred-top-gray {
  -webkit-animation: slide-in-blurred-top-gray 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top-gray 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0) grayscale(1);
    filter: blur(0) grayscale(1);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top-gray {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0) grayscale(1);
    filter: blur(0) grayscale(1);
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showTitle {
  0% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes shadow-drop-br {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: scaleX(1);
  }
}
@keyframes shadow-drop-br {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: scaleX(1);
  }
}
.card {
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}

.card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.9s ease;
  mix-blend-mode: hard-light;
}

.card:hover button {
  transform: scale(16.5);
}

.card:hover p {
  color: #fff;
}

.card:hover .pic {
  transition: all 0.7s ease;
  transition-delay: 0.2s;
  filter: grayscale(0);
}
